## 유통데이터 활용 경진대회 특정 상품  리스트
- 2022년 하반기 (7월-12월) 매주차별 판매 수량

- NO	상품 바코드	상품명
- 1	8809274240219	가야산천년수<2L*6>
- 2	8808244208044	삼다수2L
- 3	8806011615422	박카스F 120ml
- 4	68801056290308	레쓰비<175ml*30>
- 5	8801094012403	코카콜라<1.5*12>
- 6	8801043014793	농심]안성탕면 멀티<40>
- 7	8801043014847	농심]신라면 멀티<40>
- 8	8801043015271	농심]짜파게티 멀티<40>
- 9	 18801045522286	오뚜기]진라면매운멀티<120g>
- 10 8801043015028	농심]너구리 얼큰멀티<40>

-------
### 제공데이터
- 지역 유통 (판매) 데이터_ 물류센터-소매점 판매 데이터(필수).xlsx
- 동일 지역마트판매DATA (참고용).xlsx
- 상품정보_가공식품(참고용).xlsx

------
- 상품정보_가구&인테리어(참고용).xlsx
- 상품정보_교육&문화용품(참고용).xlsx
- 상품정보_디지털&가전(참고용).xlsx
- 상품정보_신선식품(참고용).xlsx
- 상품정보_의약품&의료기기(참고용).xlsx
- 상품정보_일상용품(참고용).xlsx
- 상품정보_전문스포츠&레저(참고용).xlsx
- 상품정보_패션잡화(참고용).xlsx

### (필수) 지역 유통 (판매) 데이터_ 물류센터-소매점 판매 데이터.xlsx

In [55]:
import pandas as pd
import numpy as np
data = pd.read_excel('지역 유통 (판매) 데이터_ 물류센터-소매점 판매 데이터(필수).xlsx', sheet_name = '데이터', index_col='판매일')

In [56]:
data.head()

,구분,우편번호,판매수량,옵션코드,규격,입수,상품 바코드,상품명,Unnamed: 9,Unnamed: 10
판매일,,,,,,,,,,
2021-01-04,매출,37542,4,EA,100g*1,1,8.801007e+12,다시다)쇠골드명품100g,NaN,NaN
2021-01-04,매출,37542,2,BX,12입,12,1.880104e+13,사조]해표식용유<1.8L>,NaN,NaN
2021-01-04,매출,37542,1,EA,1입,1,8.809199e+12,젓가락]키친센스 나무<250p>,NaN,NaN
2021-01-04,매출,37542,1,EA,50g*16*1,1,8.801077e+12,소세지 천하장사800g,NaN,NaN
2021-01-04,매출,37542,3,EA,10입,1,8.801045e+12,오뚜기]옛날자른당면<1kg >,NaN,NaN

In [57]:
data.info() #규격, 입수, 상품바코드 결측값 존재

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 521995 entries, 2021-01-04 to 2022-07-01
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   구분           521995 non-null  object
 1   우편번호         521995 non-null  object
 2   판매수량         521995 non-null  int64
 3   옵션코드         521995 non-null  object
 4   규격           521794 non-null  object
 5   입수           521995 non-null  int64
 6   상품 바코드       521455 non-null  float64
 7   상품명          521995 non-null  object
 8   Unnamed: 9   1 non-null       float64
 9   Unnamed: 10  1 non-null       float64
dtypes: float64(3), int64(2), object(5)
memory usage: 43.8+ MB

In [58]:
data.drop('Unnamed: 9',axis=1, inplace = True)
data.drop('Unnamed: 10',axis=1, inplace = True)
data

,구분,우편번호,판매수량,옵션코드,규격,입수,상품 바코드,상품명
판매일,,,,,,,,
2021-01-04,매출,37542,4,EA,100g*1,1,8.801007e+12,다시다)쇠골드명품100g
2021-01-04,매출,37542,2,BX,12입,12,1.880104e+13,사조]해표식용유<1.8L>
2021-01-04,매출,37542,1,EA,1입,1,8.809199e+12,젓가락]키친센스 나무<250p>
2021-01-04,매출,37542,1,EA,50g*16*1,1,8.801077e+12,소세지 천하장사800g
2021-01-04,매출,37542,3,EA,10입,1,8.801045e+12,오뚜기]옛날자른당면<1kg >
...,...,...,...,...,...,...,...,...
2022-07-01,반품,37830,1,EA,1입,1,8.809243e+12,모기장 원터치(220*240cm)7~8인용
2022-07-01,반품,37831,1,CS,40병,10,8.806004e+12,미에로화이바<210*10*4>
2022-07-01,반품,37846,2,BX,300*24,24,1.880111e+13,해태 코코팜 화이트<300ml*24>
2022-07-01,반품,37926,5,BX,6입,6,1.880105e+13,오뚜기]맛있는밥<210g*4>
2022-07-01,반품,37928,2,EA,1입,1,5.506989e+12,노끈-복실이(10) 1입

In [59]:
# 옵션코드
data['옵션코드'].unique()

array(['EA', 'BX', 'CS', 'BOX', 'C/S'], dtype=object)

### 결측값 (0으로 변환)
- 규격, 입수, 상품바코드 결측값 존재

In [60]:
# 규격 -> 결측값 처리
# data['규격'].sort_values() #NaN값 존재
data['규격'] = data['규격'].fillna(0) #0으로 처리
data['규격'].isnull().sum(axis=0)

0

In [61]:
data['입수'] = data['입수'].fillna("X") #X으로 처리
data['입수'].isnull().sum(axis=0)

0

### 가야산천년수
8809274240219 가야산천년수<2L*6>

In [62]:
#8809274240219 가야산천년수<2L*6>
data = data[data['상품 바코드']== 8809274240219]

In [63]:
data.keys()

Index(['구분', '우편번호', '판매수량', '옵션코드', '규격', '입수', '상품 바코드', '상품명'], dtype='object')

In [64]:
data.sample(10)

            구분     우편번호  판매수량 옵션코드  규격  입수        상품 바코드           상품명
판매일
2022-01-21  매출  379-02      2   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2021-12-27  매출     3766     5   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2021-08-11  매출    37690     5   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2022-05-31  매출    37714     6   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2021-08-23  매출    37823    20   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2021-05-14  매출    38178    30   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2022-05-23  매출    37789    10   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2022-07-01  매출    37501    50   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2021-04-22  매출    37782    10   CS  6입   6  8.809274e+12  가야산천년수<2L*6>
2021-08-12  매출    37733     4   CS  6입   6  8.809274e+12  가야산천년수<2L*6>

### 데이터 변환
- 범주형 데이터

In [65]:
# 문자형 데이터 원핫 인코딩
from sklearn.preprocessing import OneHotEncoder
import numpy as np

encoding_columns = ['구분', '우편번호', '옵션코드', '규격']
# not_encoding_columns = ['판매일']

data1 = pd.get_dummies(data, columns = encoding_columns)

In [66]:
data1.describe()

,판매수량,입수,상품 바코드,구분_매출,구분_반품,우편번호_37924,우편번호_02106,우편번호_375-17,우편번호_37501,우편번호_37517,...,우편번호_38019,우편번호_38035,우편번호_38039,우편번호_38131,우편번호_38178,우편번호_38179,우편번호_38182,우편번호_50246,옵션코드_CS,규격_6입
count,5941.000000,5941.0,5.941000e+03,5941.000000,5941.000000,5941.000000,5941.000000,5941.000000,5941.000000,5941.000000,...,5941.000000,5941.000000,5941.000000,5941.000000,5941.000000,5941.000000,5941.000000,5941.000000,5941.0,5941.0
mean,13.857768,6.0,8.809274e+12,0.998148,0.001852,0.014981,0.000168,0.001683,0.007911,0.001347,...,0.000337,0.000673,0.012456,0.009258,0.048813,0.000337,0.003703,0.000337,1.0,1.0
std,21.189878,0.0,4.180039e-01,0.042993,0.042993,0.121485,0.012974,0.040996,0.088599,0.036674,...,0.018346,0.025941,0.110918,0.095779,0.215496,0.018346,0.060745,0.018346,0.0,0.0
min,1.000000,6.0,8.809274e+12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,5.000000,6.0,8.809274e+12,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
50%,8.000000,6.0,8.809274e+12,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
75%,12.000000,6.0,8.809274e+12,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
max,529.000000,6.0,8.809274e+12,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [67]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5941 entries, 2021-01-04 to 2022-07-01
Columns: 151 entries, 판매수량 to 규격_6입
dtypes: float64(1), int64(2), object(1), uint8(147)
memory usage: 1.1+ MB

In [69]:
data1.drop('상품명',axis=1, inplace = True)

In [70]:
data1.drop('상품 바코드',axis=1, inplace = True)

### train, test 데이터 나누기

In [46]:
# 열 특성에 null 값이 있으면 해당 열 제거
# data1=data1.dropna(axis=1,how='any')

In [71]:
# 결측치 여부 확인
data1.isna().sum().sort_values()

판매수량            0
우편번호_37823      0
우편번호_37826      0
우편번호_37829      0
우편번호_37830      0
               ..
우편번호_37690      0
우편번호_37692      0
우편번호_37694      0
우편번호_377-91     0
규격_6입           0
Length: 149, dtype: int64

In [72]:
from sklearn.datasets import load_iris # 샘플 데이터 로딩
from sklearn.model_selection import train_test_split

Y = data1[['판매수량']]
data1.drop('판매수량',axis=1, inplace = True)
X = data1
X

,입수,구분_매출,구분_반품,우편번호_37924,우편번호_02106,우편번호_375-17,우편번호_37501,우편번호_37517,우편번호_37518,우편번호_37522,...,우편번호_38019,우편번호_38035,우편번호_38039,우편번호_38131,우편번호_38178,우편번호_38179,우편번호_38182,우편번호_50246,옵션코드_CS,규격_6입
판매일,,,,,,,,,,,,,,,,,,,,,
2021-01-04,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-01-04,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-01-04,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-01-04,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-01-04,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2022-07-01,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2022-07-01,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2022-07-01,6,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
2022-07-01,6,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [73]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=321)

In [74]:
X_train

,입수,구분_매출,구분_반품,우편번호_37924,우편번호_02106,우편번호_375-17,우편번호_37501,우편번호_37517,우편번호_37518,우편번호_37522,...,우편번호_38019,우편번호_38035,우편번호_38039,우편번호_38131,우편번호_38178,우편번호_38179,우편번호_38182,우편번호_50246,옵션코드_CS,규격_6입
판매일,,,,,,,,,,,,,,,,,,,,,
2022-03-31,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-10-25,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-06-01,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-12-28,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-04-30,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-18,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-12-10,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2022-07-01,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-09-08,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2022-01-24,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1

In [75]:
Y_train

            판매수량
판매일
2022-03-31     5
2021-10-25    10
2021-06-01     5
2021-12-28     5
2021-04-30   180
...          ...
2021-05-18     5
2021-12-10    35
2022-07-01    80
2021-09-08    80
2022-01-24     4

[4752 rows x 1 columns]

In [76]:
X_test

,입수,구분_매출,구분_반품,우편번호_37924,우편번호_02106,우편번호_375-17,우편번호_37501,우편번호_37517,우편번호_37518,우편번호_37522,...,우편번호_38019,우편번호_38035,우편번호_38039,우편번호_38131,우편번호_38178,우편번호_38179,우편번호_38182,우편번호_50246,옵션코드_CS,규격_6입
판매일,,,,,,,,,,,,,,,,,,,,,
2022-06-06,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
2021-05-31,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-12-20,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-07-12,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-04-16,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-20,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-11-24,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2021-09-07,6,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
2022-05-16,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2022-05-27,6,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [77]:
Y_test

            판매수량
판매일
2022-06-06     9
2021-05-31    24
2021-12-20     6
2021-07-12    15
2021-04-16    20
...          ...
2022-01-20    20
2021-11-24     3
2021-09-07    80
2022-05-16    20
2022-05-27     8

[1189 rows x 1 columns]

### DecisionTreeClassifier 모델 적용

In [79]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(random_state=11)

dt.fit(X_train, Y_train)

y_pred = dt.predict(X_test)

from sklearn.metrics import accuracy_score
print("예측 정확도 : {0:4f}".format(accuracy_score(Y_test, y_pred)))

예측 정확도 : 0.431455

### 하이퍼파라미터 조정

In [85]:
#랜더마이즈 서치_ Val
from sklearn.model_selection import GridSearchCV

model = DecisionTreeClassifier()

parameters = {
    'max_depth' : range(1,10),
    'min_samples_split' : range(2,10)
}
print(parameters)

grid_dtree = GridSearchCV(model, param_grid=parameters, cv=3, refit=True)
grid_dtree.fit(X_train, Y_train)
scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score', \
           'split0_test_score', 'split1_test_score', 'split2_test_score']]

print('GridSearchCV 최적 파라미터:', grid_dtree.best_params_)
print('GridSearchCV 최고 정확도: {0:.4f}'.format(grid_dtree.best_score_))

# GridSearchCV의 refit으로 이미 학습이 된 estimator 반환
estimator = grid_dtree.best_estimator_

# GridSearchCV의 best_estimator_는 이미 최적 하이퍼 파라미터로 학습이 됨
pred = estimator.predict(X_test)
print('테스트 데이터 세트 정확도: {0:.4f}'.format(accuracy_score(Y_test,y_pred)))

{'max_depth': range(1, 10), 'min_samples_split': range(2, 10)}
GridSearchCV 최적 파라미터: {'max_depth': 9, 'min_samples_split': 2}
GridSearchCV 최고 정확도: 0.3123
테스트 데이터 세트 정확도: 0.4315

In [97]:
# DecisionTreeClassifier 결과 확인
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from matplotlib import font_manager, rc
import platform 
if platform.system() == 'Darwin':
    rc('font', family ='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
    rc('font', family = font_name)


print("DecisionTreeClassifier 모델\n")

model =  DecisionTreeClassifier(random_state=11)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
    
mse2 = mean_squared_error(Y_test, y_pred)   
print("평균제곱오차 :", round(mse2**0.5,4))

print("훈련 세트 정확도 (r2): {:.3f}".format(model.score(X_train, Y_train)))
print("테스트 세트 정확도 (r2): {:.3f}".format(model.score(X_test, Y_test)))
    
# plt.figure(figsize = (40, 20))

# plt.plot(Y_test.index, Y_test, label="y_real")
# plt.plot(Y_test.index, y_pred, label="y_pred")
# plt.legend(fontsize=32)

# #추가
# # plt.xticks(ticks=Y_test.index, rotation=60,fontsize = 30)
# # plt.locator_params(axis='x', nbins=len(date_list)/30)
# plt.yticks(fontsize = 30)

# plt.show()

DecisionTreeClassifier 모델

평균제곱오차 : 13.0735
훈련 세트 정확도 (r2): 0.456
테스트 세트 정확도 (r2): 0.431

### XG Boost 모델

In [92]:
import xgboost as xgb
from xgboost.sklearn import XGBRegressor

#3가지 초모수 튜닝 (max_depth, learning_rate, subsample)

hr2_accuracy_list = []

max_depth_list = [3,5,6] #기본값 6
learning_rate_list = [0.03, 0.07, 0.3] #Eta 0.3
subsample_list = [0.7, 0.9, 1.0] #기본값 1

def hr2_grid_search(max_depth,learning_rate, subsample): 
    xgb_model = xgb.XGBRegressor(max_depth=max_depth,learning_rate = learning_rate, subsample=subsample,seed=11)
    xgb_model.fit(X_train, Y_train)
    y_pred = xgb_model.predict(X_test)
    
    return([max_depth, learning_rate, subsample, xgb_model.score(X_train, Y_train), xgb_model.score(X_test, Y_test)])
      
for max_depth in max_depth_list:
    for learning_rate in learning_rate_list:
        for subsample in subsample_list:
            hr2_accuracy_list.append(hr2_grid_search(max_depth, learning_rate, subsample))
    
hr2_xgb_df = pd.DataFrame(hr2_accuracy_list, columns=['max_depth','learning_rate', 'subsample rate', 'train score','test score'])
hr2_xgb_df.sort_values('test score', ascending=False) # test값 내림차순으로 출력

    max_depth  learning_rate  subsample rate  train score  test score
17          5           0.30             1.0     0.534649    0.608252
26          6           0.30             1.0     0.535765    0.608102
8           3           0.30             1.0     0.528754    0.607170
25          6           0.30             0.9     0.534363    0.603580
16          5           0.30             0.9     0.533060    0.602045
24          6           0.30             0.7     0.531924    0.601348
15          5           0.30             0.7     0.530421    0.601048
7           3           0.30             0.9     0.527868    0.597994
6           3           0.30             0.7     0.526101    0.597899
23          6           0.07             1.0     0.505567    0.589907
14          5           0.07             1.0     0.497749    0.584661
21          6           0.07             0.7     0.510519    0.584121
22          6           0.07             0.9     0.509038    0.582509
12          5           0.07             0.7     0.503118    0.578003
13          5           0.07             0.9     0.501261    0.576712
5           3           0.07             1.0     0.469277    0.564663
4           3           0.07             0.9     0.474233    0.558884
3           3           0.07             0.7     0.475765    0.557677
20          6           0.03             1.0     0.457524    0.557594
18          6           0.03             0.7     0.463878    0.556389
19          6           0.03             0.9     0.461269    0.553885
9           5           0.03             0.7     0.449754    0.545525
11          5           0.03             1.0     0.442026    0.545341
10          5           0.03             0.9     0.446030    0.542056
0           3           0.03             0.7     0.398636    0.495755
2           3           0.03             1.0     0.389959    0.495588
1           3           0.03             0.9     0.394204    0.492969

In [99]:
xg_model = xgb.XGBRegressor(max_depth=5, learning_rate=0.3, subsample=1.0, seed=11)
xg_model.fit(X_train, Y_train, verbose =False)
y_pred = xg_model.predict(X_test)

print("훈련 세트 정확도 (r2): {:.3f}".format(xg_model.score(X_train, Y_train)))
print("테스트 세트 정확도 (r2): {:.3f}".format(xg_model.score(X_test, Y_test)))

훈련 세트 정확도 (r2): 0.535
테스트 세트 정확도 (r2): 0.608

### '동일 지역마트판매DATA (참고용).xlsx'

In [9]:
market = pd.read_excel('동일 지역마트판매DATA (참고용).xlsx', sheet_name='DATA')

In [10]:
market.head()

,BARCODE,CATEGORY,MANUFACTURER,ITEM_DESCRIPTION,CHANNEL,WEEKLY,MONTHLY,STARTDATE,ENDDATE,DATA_PERIOD_DIV,QUANTITY,AMOUNT
0,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202218,M202205,20220502,20220508,TRAIN DATA SET,124,274989
1,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202219,M202205,20220509,20220515,TRAIN DATA SET,109,238374
2,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202220,M202205,20220516,20220522,TRAIN DATA SET,109,242170
3,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202221,M202205,20220523,20220529,TRAIN DATA SET,83,184533
4,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202222,M202206,20220530,20220605,TRAIN DATA SET,93,227261

In [11]:
market['ITEM_DESCRIPTION'].unique()
# '안성탕면 125G*5','신라면 120G*5', '얼큰한 너구리 120G*5', '올리브 짜파게티 140G*5',
#  진라면 매운맛 120G*5'
#  백산수 330mL', '레쓰비 마일드커피 175ML*6',
#  '코카콜라 215mL*6', '박카스F 120mL', '제주삼다수 500mL'

array(['비비고 김밥김 10매', '햇바삭김 명가 파래김 4g*16 ', '양반 구운김밥김 (20g) 10매',
       '양반 참기름김 식탁 8매*16', '대천 골드1호 재래김(식탁) 5G*20봉', '안성탕면 125G*5',
       '신라면 120G*5', '얼큰한 너구리 120G*5', '올리브 짜파게티 140G*5',
       '진라면 매운맛 120G*5', '헤드앤숄더 쿨멘솔 샴푸 850mL', '닥터그루트 힘없는모발샴푸 400mL',
       '려 흑윤생기 샴푸(함빛모) 550ML', '려 흑윤생기 샴푸(흑운모) 550ML',
       '아모레 미장센퍼펙트샴푸680ml', '백산수 330mL', '레쓰비 마일드커피 175ML*6',
       '코카콜라 215mL*6', '박카스F 120mL', '제주삼다수 500mL', '초코파이 정 1053G',
       '초코파이 정 630G', '초코파이 정 468G', '초코파이 정 바나나 444G', '초코파이찰떡 215G'],
      dtype=object)

In [12]:
market[market['DATA_PERIOD_DIV']== 'TEST DATA SET'] #2023년도 데이터

,BARCODE,CATEGORY,MANUFACTURER,ITEM_DESCRIPTION,CHANNEL,WEEKLY,MONTHLY,STARTDATE,ENDDATE,DATA_PERIOD_DIV,QUANTITY,AMOUNT
52,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202318,M202305,20230501,20230507,TEST DATA SET,126,281216
53,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202319,M202305,20230508,20230514,TEST DATA SET,117,245767
54,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202320,M202305,20230515,20230521,TEST DATA SET,99,207864
55,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202321,M202305,20230522,20230528,TEST DATA SET,117,248200
56,8801007051376,김,씨제이제일제당,비비고 김밥김 10매,대형마트,W202322,M202306,20230529,20230604,TEST DATA SET,95,197612
...,...,...,...,...,...,...,...,...,...,...,...,...
2968,8801204204407,초코파이,청우식품,초코파이찰떡 215G,체인슈퍼,W202326,M202306,20230626,20230702,TEST DATA SET,2,9400
2969,8801204204407,초코파이,청우식품,초코파이찰떡 215G,체인슈퍼,W202327,M202307,20230703,20230709,TEST DATA SET,5,23500
2970,8801204204407,초코파이,청우식품,초코파이찰떡 215G,체인슈퍼,W202328,M202307,20230710,20230716,TEST DATA SET,1,4700
2971,8801204204407,초코파이,청우식품,초코파이찰떡 215G,체인슈퍼,W202329,M202307,20230717,20230723,TEST DATA SET,1,4700
2972,8801204204407,초코파이,청우식품,초코파이찰떡 215G,체인슈퍼,W202330,M202307,20230724,20230730,TEST DATA SET,3,14100

In [13]:
info = pd.read_excel('상품정보_가공식품(참고용).xlsx')
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2029 entries, 0 to 2028
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GTIN             2029 non-null   int64
 1   상품분류코드           2029 non-null   int64
 2   상품분류명            2029 non-null   object
 3   상품명(대표)          2029 non-null   object
 4   상품명(국문)          2028 non-null   object
 5   상품명(기타)          875 non-null    object
 6   회사정보             2029 non-null   object
 7   국가정보             2029 non-null   object
 8   브랜드명             1820 non-null   object
 9   규격정보             2024 non-null   object
 10  순중량(Net Weight)  1852 non-null   float64
 11  상품 형태            2029 non-null   object
 12  등록일시             2029 non-null   object
 13  수정일시             2029 non-null   object
dtypes: float64(1), int64(2), object(11)
memory usage: 222.0+ KB